body {
  background-color: #0f1120;
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
}

.canvas-container {
  display: flex;
  flex-direction: column; /* 縦並び */
  align-items: center;
  gap: 20px;
}

#canvasYX,
#canvasYT {
  width: 90vw;   /* 画面幅に合わせる */
  height: 450px; /* 両方同じ高さにする */
  background-color: #14182b;
}

#tRange {
  margin-top: 40px;  /* 上に40pxの余白を追加 */
}
